<!DOCTYPE html>
<html lang="en">

<head>
  <title>New Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="../style/create_schedule.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../scripts/create_schedule.js"></script>
</head>

<body>

    <form id="create-form">
        Title:<br>
        <input type="text" name="title">
        <br>
        Description:<br>
        <input type="text" name="description">
        <br>
        Completed:<br>
        <input type="radio" name="completed" checked> Yes
        <input type="radio" name="completed"> No
        <br>
        Deadline:<br>
        <input type="date" name="deadline">
        <br>
    </form>

    <button onclick="createSchedule()">CREATE SCHEDULE</button>

    <div id="textDiv">

    </div>
    
</body>

</html>