<!DOCTYPE html>
<html lang="en">

<head>
  <title id="title">Edit Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="../style/edit_schedule.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="../scripts/edit_schedule.js"></script>
</head>

<body>

  <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <nav class="navbar">
            <div class="container-fluid">
              <div class="navbar navbar-nav">
                <a  class="navbar-brand" data-toggle="collapse" href="#collapse1">
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                  </button>
                </a>
              </div>
            </div>
          </nav>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">Panel Body</div>
          <div class="panel-footer">Panel Footer</div>
        </div>
      </div>
    </div>

    <div class="container">
      <form id="edit-form">
        Title:<br>
        <input type="text" name="title" id="title">
        <br>
        Description:<br>
        <input type="text" name="description" id="description">
        <br>
        Completed:<br>
        <input type="radio" name="completed" id="completed-yes" checked> Yes
        <input type="radio" name="completed" id="completed-no"> No
        <br>
        Deadline:<br>
        <input type="date" name="deadline" id="deadline">
        <br>
      </form>
    
      <button data-toggle="modal" data-target="#myModal">DELETE SCHEDULE</button>
      <button onclick="editSchedule(getId())">UPDATE SCHEDULE</button>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ARE YOU SURE?</h4>
      </div>
      <div class="modal-body">
        <p>You are about to delete this schedule.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NOPE, I WILL KEEP THE SCHEDULE</button>
        <button type="button" class="btn btn-default" onclick="deleteSchedule(getId())">DELETE SCHEDULE</button>
      </div>
    </div>

  </div>
</div>
    
</body>

</html>